#services-expand {
    background: var(--color-light);
}
.services-expand__head {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.services-expand__head h3 {
    width: 25%;
}
.services-expand__head-right {
    width: 49%;
}
.services-expand__head-right .card-btn {
    margin: 1.4rem;
    display: inline-block;
    color: var(--color-primary);
    transition: all 400ms ease;
}
.services-expand__head-right .card-btn:hover {
    margin-left: 1rem;
}
.services-expand__cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.services-expand__card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 0.2rem;
}
.services-expand__card-img {
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    
    height: 20rem;
    display: block;
    border: 1rem solid white;
    
}
.services-expand__card-img::-webkit-scrollbar {
    display: contents;
    width: 5px;
}
.services-expand__card-img::-webkit-scrollbar-track {
    background-color: transparent;
}
.services-expand__card-img::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}
@keyframes titleAnim {
    from {
        transform: translateY(-0.7rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.services-expand__card-img-title h2 {
    color: white;
    padding-left: 2rem;
    font-style: italic;
    animation: titleAnim 700ms ease forwards;
}
.services-expand__card-img-title {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.services-expand__card-img-title.hide {
    display: none;
}
.services__block {
    padding: 2rem;
    display: none;
}
@keyframes animServices {
    0% {
        transform: translateY(25rem);
        opacity: 0;
    }
    70% {
        transform: translateY(-0.3rem);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
.services__block.display {
    display: block;
    background-color: rgba(0, 0, 0, 0.493);
    animation: animServices 1s ease forwards;
}
.services-expand__card-img__infos h4, .services-expand__card-img__infos ul h5 {
    color: white;
    text-align: center;
}
.services-expand__card-img__infos {
    margin-bottom: 1rem;
}
.services-expand__card-img__infos h4 {
    color: var(--color-primary);
}
.services-expand__card-img__infos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-expand__card-img__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-expand__card-img.building {
    background-image: url('../../assets/construction-bg.jpg');
}
.services-expand__card-img.tech {
    background-image: url('../../assets/tech-bg.png');
}
.services-expand__card-img.imm {
    background-image: url('../../assets/immobilier-bg.jpg');
}
.services-expand__card-deploy {
    display: flex;
    gap: 1rem;
}
.services-expand__card-deploy a.black {
    background: black;
    transition: all 400ms ease;
}
.services-expand__card-deploy .card-btn.black:hover {
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .services-expand__head h3 {
        width: 40%;
    }
    .services-expand__head-right {
        width: auto;
    }
}
@media screen and (max-width: 600px) {
    .services-expand__head {
        flex-direction: column;
        gap: 1rem;
    }
    .services-expand__head h3, .services-expand__head-right {
        width: var(--container-width-sm);
    }
    .services-expand__cards {
        grid-template-columns: 1fr;
    }
}